# Check if string is Palindrome

SALT----> TLAS          : not palindrome
    
MALAYALAM----->MALAYALAM  : palindrome

AMMA------>AMMA            : palindrome

a string is said to be palindrome if the reverse of the string is the same as the string

In [6]:
def is_palindrome(s):
    return s[::-1] == s

is_palindrome("amma")

True

In [7]:
def is_palindrome(s):
    return s[::-1] == s

is_palindrome("malayalam")

True

In [8]:
def is_palindrome(s):
    return s[::-1] == s

is_palindrome("salt")

False

In [14]:
def add_two_numbers(x,y):
    z = x + y


x = add_two_numbers(5,10)
print(x)

None

In [16]:
def add_two_numbers(x,y):
    z = x + y
    print(z)
    return z


x = add_two_numbers(5,10)
print(x)

15
15

In [9]:
# how to reverse a string
s = "salt"
s[::-1]

'tlas'

In [10]:
# to compare equality between operands
4==5

False

In [5]:
4==4

True

# Find largest element in array

In [17]:
# array: collection of elements with same datatype

input arr = [20, 10, 4, 100]

 [20, 10, 4, 100]
 
max = 20

20 > 10

20 >  4

20 < 100   max = 100

[2, 20, 4, 100]

max = 2

2 < 20    max = 20

20 >  4

20  < 100   max = 100

In [23]:
#NOTE: last element of the array is always at index: len(array)-1

def largest_element(arr):
    max = arr[0]
    
    #NOTE: range(1,n) it runs from 1 to n-1
    for i in range(1, len(arr)):              #range(1,4): 1 to 3
        if arr[i] > max:
            max = arr[i]
    return max

largest_element([2, 20, 4, 100])

100

In [22]:
for i in range(2, 6):
    print(i)

2
3
4
5

In [ ]:
s = "python"
slice(2, 4)

In [26]:
arr = [100, 200, 300, 400, 500, 600]
# for i in range(0, 6):              #range(0, n) runs from 0 to n-1  
#     print(arr[i])

for i in range(0, len(arr)):       #range(0, len(arr)) from 0 to len(arr)-1
    print(arr[i])

100
200
300
400
500
600

# Program to interchange first and last element in list

input: [12, 35, 9, 56, 24]

output: [24, 35, 9, 56, 12]

problem with below approach is that: the element at 0th index, i.e., 12 here is lost

a[0] = a[len(arr)-1]                 [24, 35, 9, 56, 24]

a[len(arr)-1] = a[0]

swapping of elements

#a=10, b=20;  ;;;  a=20, b=10

temp = a              temp = 10

a = b                  a = 20

b = temp               b = 10

In [30]:
def swap_first_and_last_element(l):
    temp = l[0]
    l[0] = l[len(l)-1]
    l[len(l)-1] = temp
    
    return l

swap_first_and_last_element([12, 35, 9, 56, 24])

[24, 35, 9, 56, 12]

# Find sum of array

input arr = [1, 2, 3, 4, 5]

output: 15

In [32]:
sum([1, 2, 3, 4, 5])

15

In [38]:
def sum_of_array(arr):
    sum_of_numbers = 0          
    
    for i in range(0, len(arr)):                   #range(0,5) runs from (0,4) #i=0 #i=1                  #i=2  
        sum_of_numbers = sum_of_numbers + arr[i]       #0+arr[0]=0+100               #100+arr[1]=100+200  #300+arr[2]=300+300
        
    return sum_of_numbers

sum_of_array([100, 200, 300, 400, 500])

1500

# Dictionary examples

In [41]:
capital_city = {"Nepal": "Kathmandu", "England": "London"}
print(type(capital_city))

<class 'dict'>

In [42]:
capital_city["India"] = "New Delhi"

adding key-value pair in dictionary:

In [44]:
print(capital_city)

{'Nepal': 'Kathmandu', 'England': 'London', 'India': 'New Delhi'}

change value of dictionary

In [45]:
capital_city["England"] = "UK"

In [46]:
print(capital_city)

{'Nepal': 'Kathmandu', 'England': 'UK', 'India': 'New Delhi'}

accessing elements from dictionary

In [47]:
print(capital_city["Nepal"])

Kathmandu

remove elements from dictionary

In [48]:
del capital_city["Nepal"]

In [49]:
print(capital_city)

{'England': 'UK', 'India': 'New Delhi'}

In [50]:
if "Nepal" in capital_city:
    print("Present")
else:
    print("Not Present")

Not Present

# Dictionary membership

In [51]:
if "England" in capital_city:
    print("Present")
else:
    print("Not Present")

Present

input: {'a': 100, 'b': 200, 'c': 300}
output: 600

accessing elements in dictionary

In [55]:
for i in my_dict:
    print("key", i)
    print("value", my_dict[i])

key a
value 100
key b
value 200
key c
value 300

In [57]:
my_dict = {'a': 100, 'b': 200, 'c': 300}

for key, value in my_dict.items():
    print("key", key)
    print("value", value)

key a
value 100
key b
value 200
key c
value 300

In [54]:
my_dict = {'a': 100, 'b': 200, 'c': 300}
sum_of_values = 0

for i in my_dict:
#     print("key", i)
#     print("value", my_dict[i])
    sum_of_values = sum_of_values + my_dict[i]
    
print(sum_of_values)

600