# CSV(Comma Separated Values)

In [1]:
import csv

In [6]:
import pandas as pd

In [2]:
import os
os.getcwd()

'/home/shikhasingh/Downloads/EDYODA_SHIKHA'

In [4]:
# file_name = "sample_csv.csv"
file_name = "/home/shikhasingh/Downloads/EDYODA_SHIKHA/sample_csv.csv"

In [5]:
with open(file_name, 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name ', 'age', 'profession']
['abc', '23', 'engineer']
['xyz', '25', 'artist']

# through pandas library

In [7]:
import pandas as pd

In [9]:
df = pd.read_csv(file_name)

In [10]:
df

  name   age profession
0   abc   23   engineer
1   xyz   25     artist

In [11]:
df.columns

Index(['name ', 'age', 'profession'], dtype='object')

In [13]:
df['name ']

0    abc
1    xyz
Name: name , dtype: object

# writing csv files using csv.writer()

In [14]:
import csv

In [16]:
with open('sample_code_v2.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["name", "age", "profession"])
    writer.writerow([1, 23, "artist"])

# writing csv files using pandas

In [17]:
import pandas as pd

In [18]:
name = ["abc", "xyz"]
age = [23, 25]
profession = ["engineer", "doctor"]
d = {'name': name, 'age': age, 'profession': profession}
df = pd.DataFrame(d)
print(df)

  name  age profession
0  abc   23   engineer
1  xyz   25     doctor

In [19]:
df.to_csv('sample_code_v2_thru_pandas.csv')

# writing to csv file with tab delimiter

In [20]:
import csv

In [22]:
with open('delimiter.csv', 'w') as file:
    writer = csv.writer(file, delimiter='\t')
    writer.writerow(["name", "age", "profession"])
    writer.writerow([1, 23, "artist"])

# reading csv files with tab delimiter using pd & csv module

In [25]:
df = pd.read_csv('delimiter.csv', sep='\t')

In [26]:
df

   name  age profession
0     1   23     artist

In [27]:
with open('delimiter.csv', 'r') as file:
    reader = csv.reader(file, delimiter='\t')
    for row in reader:
        print(row)

['name', 'age', 'profession']
['1', '23', 'artist']